@charset "UTF-8";

body {
  font-size: 15px;
}

.c-fontColor_en {
  color: aqua;
}

.logo {
  width: 500px;
}
// フッター
.l-footer {
  background: sandybrown;
  background-image: url(img/background/haikei1.jpg);
  &_pattern {
    width: 100%;
    height: 444px;
    background: url(/img/pattern.jpg) repeat-x center top;
    background-size: 1550px 440px;
    margin-bottom: 135px;
  }

}

.l-lineup_item {
  margin: 10em;
  width: 30%;
  height: 30%;
}