@charset "UTF-8";

// 基本調整
a {
  text-decoration: none;
}

ul,li {
  list-style: none;
}

body {
  font-size: 15px;
}
$colorText: #bc8f8f;
$colorBack: #fffff0;

.c-fontColor_en {
  color: $colorText;
}
.logo {
  width: 500px;
}
.en {
  font-size: 6rem;
  letter-spacing: 0.04em;
  line-height: 7rem;
}
.jp {
  font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 0.14em;
    font-weight: 700;
}


.c-fontColor_en {
  color: $colorText;
  font-size: 17px;
  text-align: center;
  font-weight: bold;
}


// ヘッダー
.l-header {
  background-color: transparent;
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 999;
}

/*　ハンバーガーボタン　*/
.hamburger {
  display : block;
  position: fixed;
  z-index : 3;
  right : 13px;
  top   : 12px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}
.hamburger span {
  display : block;
  position: absolute;
  width   : 30px;
  height  : 2px ;
  left    : 6px;
  background : #555;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition   : 0.3s ease-in-out;
  transition        : 0.3s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 10px;
}
.hamburger span:nth-child(2) {
  top: 20px;
}
.hamburger span:nth-child(3) {
  top: 30px;
}

/* ナビ開いてる時のボタン */
.hamburger.active {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition     : all 0.3s ease-in-out;
  transition        : all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay     : 0.6s;
  transition-delay        : 0.6s;
  -webkit-transform: rotate(45deg);
  -ms-transform    : rotate(45deg);
  -o-transform     : rotate(45deg);
  transform        : rotate(45deg);
}
.hamburger.active span:nth-child(2){
  width: 0px;
}
.hamburger.active span:nth-child(1),
.hamburger.active span:nth-child(3){
  background :#fff;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.hamburger.active span:nth-child(1){
  -webkit-transform: translateY(4px);
  -ms-transform    : translateY(4px);
  -o-transform     : translateY(4px);
  transform        : translateY(4px);
}

.hamburger.active span:nth-child(3){
  -webkit-transform: translateY(-16px) rotate(90deg);
  -ms-transform: translateY(-16px) rotate(90deg);
  -o-transform : translateY(-16px) rotate(90deg);
  transform    : translateY(-16px) rotate(90deg);
}


nav.globalMenuSp {
  position: fixed;
  z-index : 2;
  top  : 0;
  left : 0;
  color: #fff;
  background: rgba(0,0,0,0.7);
  text-align: center;
  width: 100%;
  opacity: 0;
  transition: opacity .6s ease, visibility .6s ease;
}

nav.globalMenuSp ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  transition: .4s all;
}
nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
}
nav.globalMenuSp ul li:hover{
  background :#ddd;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #fff;
  padding: 1em 0;
  text-decoration :none;
}

.head-sns {
  &_item {
    display: flex;
    width: 5%;
  }
}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  opacity: 100;

}

// フッター
.l-footer {
  background-color: $colorBack;
  &_pattern {
    width: 100%;
    background: url(/img/pattern.jpg) repeat-x
    // margin-bottom: 10%;
  }
  &_block {
    &Banner {
      display: flex;
      margin-left: 10%;
      margin-right: 10%;
      &Item {
        justify-content: space-between;
        margin-right: 10px;
      }
  }
  }
  &_copyRightTxt {
    text-align: center;
    color: $colorText;
    margin-top: 5%;
  }
  &_sns {
    margin-top: 5%;
    &Box {
      display: flex;
      justify-content: center;
      &Item {
        margin-right: 20px;
        &Inner {
          margin: 50px;
        }
      }
    }
  }
  &_copy {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    }
  }

// LINEUP
.lineup {
  background-image: url(./img/background/haikei3.jpg);
  padding-top: 116px;
  padding-bottom: 18px;
  position: relative;
  text-align: center;
  margin: 0 auto 95px;
  color: $colorText;
}
.lineup_title {
  text-align: center;
  margin: 0 auto 95px;
  color: $colorText;
}
.lineup_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1210px;
  margin: 0 auto;
  width: 89.3vw;
}
.lineup_item {
  width: 47.1%;
  position: relative;
  margin-bottom: 100px;
}
.lineup_txt {
  font-size: 1.7rem;
  line-height: 38px;
  padding: 0 25px;
  letter-spacing: 0.01em;
}
.lineup_img {
  margin-bottom: 55px;
  
}


// slider



// opening
@media (min-width: 950px ) {
  .opening {
    display: flex;
  }
  .slider_left {
    flex-grow: 1;
  }
  .slider_right {
    flex-grow: 1;
  }
}