@charset "UTF-8";

body {
  font-size: 15px;
}
$colorText: #bc8f8f;
$colorBack: #fffff0;

.c-fontColor_en {
  color: $colorText;
}

.logo {
  width: 500px;
}

.c-fontColor_en {
  color: $colorText;
  font-size: 5em;
  text-align: center;
  font-weight: bold;
}
// フッター
.l-footer {
  background-color: $colorBack;
  &_pattern {
    width: 100%;
    background: url(/img/pattern.jpg) repeat-x
    margin-bottom: 10%;
  }
  &_block {
    &Banner {
      display: flex;
      margin-left: 10%;
      margin-right: 10%;
      &Item {
        justify-content: space-between;
        margin-right: 80px;
      }
  }
  }
  &_copylightTxt {
    font-size: 2em;
    text-align: center;
    color: $colorText;
    margin-top: 5%;
  }
  &_sns {
    background-color: $colorText;
    &Box {
      background-color: $colorText;
      margin: 50px 50px 50px 50px;
    }
  }