@charset "UTF-8";

// 基本調整
.wrap{
  overflow: hidden;
}
a {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
ul,li {
  list-style: none;
}
body {
  overscroll-behavior: none;
  height: 85vh;
  background-color: #fdfdfd;
}

$colorText: #bc8f8f;
$colorBack: #fffff0;

// タイトル
.en {
  color: #bc8f8f;
  // font-size: 6rem;
  // letter-spacing: 0.04em;
  // line-height: 7rem;
  // font-family: century-gothic, sans-serif;
  // font-weight: 700;
}
.jp {
  margin-bottom: -2px;
  color: #bc8f8f;

}
// タイトル↑


// header↓
.header {
  position: absolute;
  top: 7.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 8;
}
#header .logo {
  width: 282px; }

.head-sns {
  position: absolute;
  left: 50px;
  top: 70px;
  z-index: 997;
}
.head-sns__list {
  display: flex;
}
.head-sns__item {
  margin: 0 10px 0 0;
  position: relative;
  width: 80px;
  height: 80px;
  position: relative;
}
.head-sns__item > a {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}
.head-sns__item.-item1 img {
  width: 28px;
}
.head-sns__item.-item2 img {
  width: 27px;
}
.head-sns__item::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #fff;
  border-radius: 50%;
}
.head-sns__item::after {
  content: "";
  height: 2px;
  background: #be9066;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transition: 0.2s all ease-in;
  transform: translateX(0);
}
.head-sns__item img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  transition: 0.2s all ease-in;
}

body.opened .head-sns__item::before {
  display: none;
}

.head-sns__onList{
  width: 162px;
  display: flex;
  position: absolute;
  left: 50px;
  top: 70px;
  &Item {
    margin: 0 47px 0 0;
    position: relative;
    width: 80px;
    height: 80px;
    position: relative;
  }
}
// header↑

/*　ハンバーガーボタン　*/
  .hamburger {
  display : block;
  position: fixed;
  z-index : 999;
  top: 70px;
  right: 64px;
  width: 50px;
  height: 48px;
  cursor: pointer;
  text-align: center;
  }
  .hamburger span {
   transition: .25s ease-out;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 2px;
    background-color: #A9808C;
  }
  .hamburger span:nth-child(1) {
  top: 0px;
  }
  .hamburger span:nth-child(2) {
  top: 10px;
  }
  .hamburger span:nth-child(3) {
  top: 22px;
  }

  /* ナビ開いてる時のボタン */
  .hamburger.active {
    opacity: o;
    display: block;
    right: 100px;
    visibility: visible;
  }
  .hamburger.active span:nth-child(2){
  width: 0px;
  }

  .hamburger.active span:nth-child(1){
    background :#A9808C;
    top: 50%;
    transform: translateY(-50%) rotate(-25deg);
  }

  .hamburger.active span:nth-child(3){
    background :#A9808C;
    top: 50%;
    transform: translateY(-50%) rotate(25deg);
  }

  /* ナビ開いてる時の中身 */
  /* このクラスを、jQueryで付与・削除する */
.globalMenuSp.active {
  opacity: 100;
  visibility: visible;
  padding-top: 70px;
}
.globalMenuSp {
  position: fixed;
  z-index : 998;
  color: #fff;
  background: #f8f7f1;
  text-align: center;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
}
.globalMenuSp-logo {
  width: 210px;
  margin: 0 auto 107px;
  position: relative;
}
.globalMenuSp-list {
  margin-top: 12%;
}

.globalMenuSp-list_item {
  text-align: center;
  margin-bottom: 34px;
  position: relative;
  &JP{
    font-size: 19px;
    font-weight: 700;
  }
}
.globalMenuSp-list_item a{
  display: inline-block;
	transition: all .3s ease 0s;
	text-decoration: none;
}
.globalMenuSp-list_item a :hover{
  cursor: pointer;
	color: #4CAF50;
}
nav.globalMenuSp-list_item:last-child {
  padding-bottom: 0;
}

.globalMenuSp-list_item1,.globalMenuSp-list_item2,.globalMenuSp-list_item3{
  padding-bottom: 30px;
  font-size: 4rem;
  letter-spacing: 0.04em;
  font-weight: 700;
  margin-top: 42px;
}
.globalMenuSp-list_item1 a,.globalMenuSp-list_item2 a{
  color: #b28d99;
  &:hover {
    color: #be9066;
  }
}
.globalMenuSp-list_item3 a{
  color: #b46e2d;
  &:hover {
    color: #b28d99;
  }
}
.globalMenuSp-list_item3 ::before{
  content: "";
  width: 100px;
  height: 1px;
  background: #b28d99;
  top: 885px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}
.globalMenuSp_box{
  position: absolute;
  right: 52px;
  display: grid;
  bottom: 50px;
  &Item {
    width: 180px;
  }
}


// opening↓
.mainVisual {
  display: flex;
  position: relative;
  z-index: 2;
  width: 100vw;
  height: 100vh;
}
.swiper-container01 {
  width: 50vw;
  max-width: 100%;
  // height: 1000px;
  margin: 0 auto;
  overflow: hidden;
}
.swiper-container02 {
  width: 50vw;
  max-width: 100%;
  // height: 1000px;
  margin: 0 auto;
  overflow: hidden;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #2d1408cc;

}
.bgc-01 {
  background-image: url("../img/hero/herocat1.jpg");
  background-size: cover;

}
.bgc-02 {
  background-image: url("../img/hero/heropan1.jpg");
  background-size: cover;

}
.bgc-03 {
  background-image: url("../img/hero/heropan2.jpg");
  background-size: cover;
}
.bgc-04 {
  background-image: url("../img/hero/herocat2.jpg");
  background-size: cover;
}
// opening↑
// top-news↓
.top-news {
  position: relative;
          box-sizing: border-box;
  padding: 34px 160px 27px 50px;

}
// List
.top-news__list > li {
  line-height: 2rem;
  margin-bottom: 8px;
}
.top-news__list > li > a {
  color: #916774;
}
.top-news__list > li > a::before {
  content: "";
  background: url("../img/icon/top-news__icon.png") no-repeat 0 0;
  width: 18px;
  height: 21px;
  background-size: contain;
  position: absolute;
  margin: 4px 0px 0px -27px;
}
.top-news__list > li > a > span {
  display: inline;
}

// link
.top-news__link {
  width: 130px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
}
.top-news__link > a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  color: #fff;
  background: #b28d99;
}
.top-news__link > a > .txt {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.04em;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-38px);
  position: absolute;
}
.top-news__link > a > .arrow {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(34px);
  font-size: 0;
}
.top-news__link > a > .arrow > p {
  width: 8px;
  position: absolute;
  left: 50%;
  top: 0;
}
.top-news__link > a > .arrow > p.arrow1 {
  transform: translateX(-6px);
}
.top-news__link > a > .arrow > p.arrow2 {
  transform: translateX(2px);
}
.top-news__link > a > .arrow > p img {
  position: relative;
  left: 0;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

// info↑
// top-intro↓
// 　　　　スクロールトリガー
.side-scroll__section {
  background-image: url("../img/background/top-intro_bg.png");
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;/* はみ出た部分を隠しておく */
}
.side-scroll__itemOuter {
  position: relative;
  height: 700px;
  width: 100%;
  background-color: #efefef;
}
.side-scroll__itemInner {
  position: absolute;
  top: 60px;
  left: 0;
  display: flex;
  gap: 0 60px;
  background-color: #f0d489;
}

.side-scroll__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 80px;
  height: 400px;
  width: 600px;
}
// 　　　　スクロールトリガー
.top-intro {
  background-size: cover;
  position: relative;
  min-height: 1772px;
  height: 100vh;
  position: relative;
  min-height: 900px;
}
.top-intro__inner {
  width: 250%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  
}
.top-intro__block {
  width: 40%;
  position: relative;
}

.top-intro__block > h2 {
  text-align: center;
  padding-top: 80px;
  margin-bottom: 20px;
  // height: 50px;
  width: auto;
  color: #916774;
  font-size: 3rem;
  font-weight: bold;
}

.top-intro__lead {
  color: #916774;
  font-size: 1.7rem;
  line-height: 4rem;
  font-weight: 700;
  letter-spacing: 0.12em;
  text-align: center;
  margin-bottom: 57px;
}
.top-intro__wrap {
    margin: 0 auto;
    display: flex;
    top: 40%;
    left: 20%;
    position: absolute;
    justify-content: space-between;
    width: 87.5vw;
    max-width: 1415px;
}
.top-intro__wrapimg {
  width: 38%;
  box-sizing: border-box;
  padding-left: 50px;
  padding-top: 10px;
}
.top-intro__wrap > .txt {
  width: 50%;
}
.top-intro__wrap > .txt > .ijp {
  color: #916774;
  font-size: 1.2rem;
  line-height: 2rem;
  margin-bottom: 40px;
  letter-spacing: 0.1em;
}
.top-intro__wrap > .txt > .en {
  color: #916774;
  font-size: 1rem;
  line-height: 2rem;
  margin-bottom: 40px;
  letter-spacing: 0.1em;
}

  .top-intro__block > h2 img {
    height: 40px;
  }

// top-intro↑
// FLAVOR↓
.flavor {
  padding-top: 100px;
  padding-bottom: 260px;
  background: url("../img/background/flavor_bg.jpg") no-repeat center top;
  background-size: cover;
  position: relative;
}
.flavor-title {
  text-align: center;
  margin-bottom: 43px;
  color: #b28d99;
}
.flavor-title > .en {
  font-size: 4rem;
  letter-spacing: 0.04em;
  line-height: 7rem;
  font-family: century-gothic, sans-serif;
  font-weight: 700;
}
.flavor-title > .jp {
  font-size: 1.3rem;
  letter-spacing: 0.14em;
  font-weight: 700;
}
.flavor-item {
  width: 100%;
}
.flavor-item__photo {
  position: relative;
}
.flavor-item__photo::after {
  content: "";
  width: 40%;
  height: 100%;
  position: absolute;
  left: 30%;
  top: 0;
  background: url(../images/neko_face_gif.gif) no-repeat center 55%;
  background-size: contain;
}
.flavor-item__txt {
  text-align: center;
}
.flavor-item__txt > .txt1 {
  font-size: 6rem;
  line-height: 7rem;
  letter-spacing: 0.04em;
  margin-bottom: 5px;
}
.flavor-item__txt > .txt2 {
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: 0.04em;
}
.flavor-item.-white .flavor-item__photo::after {
  background: url(../images/top/flavor/face_white.gif) no-repeat center 55%;
  background-size: contain;
}
.flavor-slide {
  position: relative;
}
.flavor-banner {
  width: 260px;
  height: 80px;
  background-image: url("../img/flavor/flavor__banner.png");
  position: absolute;
  top: 110px;
  right: 59px;
  overflow: hidden;
  border-radius: 10px 10px;
  text-align: center;
}

@media screen and (max-width: 750px) {
  .flavor {
    padding-top: 91px;
    padding-bottom: 100px;
  }
  .flavor-title {
    text-align: center;
    margin-bottom: 43px;
    color: #b28d99;
  }
  .flavor-title > .en {
    font-size: 4.3rem;
    letter-spacing: 0.04em;
    line-height: 5rem;
    margin-bottom: 4px;
  }
  .flavor-title > .jp {
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.14em;
    font-weight: 700;
  }
  // .flavor-slidewrap {
  //   width: 100%;
  //   margin: 0 auto;
  // }
  .flavor-item {
    width: 100%;
  }
  .flavor-item__photo {
    position: relative;
    margin-bottom: 10px;
  }
  .flavor-item__txt {
    text-align: center;
  }
  .flavor-item__txt > .txt1 {
    font-size: 4.3rem;
    line-height: 5rem;
    margin-bottom: 5px;
  }
  .flavor-item__txt > .txt2 {
    font-size: 1.8rem;
    line-height: 2rem;
  }
  .flavor-slide {
    position: relative;
    margin-bottom: 19px;
  }
  .flavor-slide__nav {
    width: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-150%);
    left: 50%;
    z-index: 3;
    cursor: pointer;
  }
  .flavor-slide__nav img {
    position: relative;
    left: 0;
    transition: all 0.2s ease-out;
  }
  .flavor-slide__nav.-l {
    left: 15px;
    margin-left: 0;
  }
  .flavor-slide__nav.-r {
    margin-left: 0;
    left: auto;
    right: 15px;
    transform: scale(-1, 1) translateY(-150%);
  }
}


// flavorのスライダー
.slider {
  width: 100%;
  margin: 0 auto;
  
}
.slick-slide img {
  width: 120%; 
}
.slick-slide {
  margin: 0 10px 0; /* centerPaddingで左右の見える幅を指定してもOK */
}
// .slick-slide:not(.slick-center) {
//   opacity: 0.5;
// }

.slick-arrow {
  z-index:20; /* 矢印画像を最前面へ */
}
.slide-arrow{
  position: absolute;
  top: 40%;
}
.prev-arrow{
  left: 30%;
}
.next-arrow{
  right: 30%;
}

.slide__img {
  width: 300px;
}

// FLAVOR↑
// lineup↓
.top-lineup {
  background: url(../images/top/intro/bg.jpg) no-repeat center top;
  background-size: cover;
  padding-top: 116px;
  padding-bottom: 18px;
  position: relative;
}
.top-lineup__title {
  text-align: center;
  margin: 0 auto 95px;
  color: #b28d99;
}
.top-lineup__title > .en {
  font-size: 4rem;
  letter-spacing: 0.04em;
  font-family: century-gothic, sans-serif;
  font-weight: 700;
}
.top-lineup__title > .jp {
  font-size: 1.3rem;
  letter-spacing: 0.14em;
  font-weight: 700;
}
.top-lineup__list {
  width: 89.3vw;
  max-width: 1210px;
  margin: 0 auto;
  justify-content: space-between;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.top-lineup__item {
  width: 47.1%;
  position: relative;
  margin-bottom: 100px;
}
.top-lineup__photo {
  margin-bottom: 55px;
}
.top-lineup__photo::before {
  padding-top: 55.26%;
}
.top-lineup__txt {
  font-size: 1.7rem;
  line-height: 38px;
  padding: 0 25px;
  letter-spacing: 0.01em;
  color: $colorText;
}
.top-lineup__new {
  width: 88px;
  height: 66px;
  position: absolute;
  left: -34px;
  top: -23px;
  background: url(../images/top/lineup/new.png) no-repeat 0 0;
  background-size: contain;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  letter-spacing: 0.04em;
}
.top-lineup__new > span {
  display: inline-block;
  padding-top: 10px;
}
.top-lineup__buttom {
  margin-top: 40px;
  }
  .top-lineup__buttom a{
    color: #fff;
    font-size: 16px;
    background: #b90808;
    padding: 12px 43px;
    border-radius: 91px;
    transition: 0.3s;
    &:hover {
      background: #ff4747;
    }
  }


// top-lineup↑
// SHOP↓
.top-shop {
  padding-top: 100px;
  padding-bottom: 130px;
  background: #f8f7f1;
}
.top-shop__title {
  text-align: center;
  margin: 0 auto 90px;
}
.top-shop__title > .en {
  font-size: 4rem;
  letter-spacing: 0.04em;
  font-family: century-gothic, sans-serif;
  font-weight: 700;
}
.top-shop__title > .jp {
  font-size: 1.3rem;
  letter-spacing: 0.14em;
  font-weight: 700;
}
.top-shop__main {
  width: 87.5vw;
  max-width: 1400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.top-shop__link {
  display: block;
  position: relative;
  width: 47.85%;
  padding: 56px 0 60px;
  color: #fff;
}
.top-shop__link::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #f0d489;
  border-radius: 12px;
  -webkit-transition: 0.2s all ease-out 0s;
  -o-transition: 0.2s all ease-out 0s;
  transition: 0.2s all ease-out 0s;
}

.top-shop__txt {
  text-align: center;
  font-size: 1.5rem;
  line-height: 3rem;
  letter-spacing: 0.16em;
  font-weight: 700;
  position: relative;
}
.top-shop__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0;
}
.top-shop__icon.-icon1 {
  right: 50px;
  width: 36px;
}
.top-shop__icon.-icon2 {
  right: 75px;
  width: 40px;
}

// shop↑

// フッター
.footer {
  position: relative;
  padding-bottom: 30px;
  background: #f8f7f1;
  padding-top: 50px;
  &_pattern {
    width: 100%;
    margin-bottom: 3%;
    background: url(/img/pattern.jpg) repeat-x
  }
}

// .foot-banner
.foot-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    padding: 0px 10%;
}
.foot-block1 {
  
}
.footer_blockBannerItem {
  margin: 0 37px 32px;
}
.footer_blockBannerIcon  {
  width: 120px;
}
.foot-block1 h2{
  font-size: 45px;
  color: #be9066;
  letter-spacing: 0.04em;
  margin-bottom: 79px;
  font-weight: 700;
  text-align: center;
}
.foot-block2 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1047px;
  margin: 0 auto 94px;
}
.foot-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.foot-link__item {
  margin: 0 20px;
  position: relative;
  width: 83px;
  height: 83px;
  position: relative;
}
.foot-link__item > a {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}
.foot-link__item.-item1 img {
  width: 30px;
}
.foot-link__item.-item2 img {
  width: 29px;
}
.foot-link__item.-item3 img {
  width: 23px;
}
.foot-link__item.-item4 img {
  width: 35px;
  transform: translateY(-50%) translateX(-44%);
}
.foot-link__item::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  border-radius: 50%;
}
.foot-link__item::after {
  content: "";
  width: 0;
  height: 2px;
  background: #0a0a0a;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transition: 0.2s all ease-in;
  transform: translateX(0);
}
.foot-link__item img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  transition: 0.2s all ease-in;
}
  .foot-link__item:hover img {
    top: 43%;
  }
  .foot-link__item:hover::after {
    width: 10px;
    transform: translateX(-5px);
  }


// ホバーボタン
p a{
  display:block;
}
p a img{ width:250px; }

p a img{
	position:relative;
	top:0;
}
p a img:hover{
	top:-10px;
	transition:0.3s;
}

.foot-copy {
  width: 72.2vw;
  max-width: 271px;
  margin: 0 auto 100px;
}
.foot-copyright {
  position: relative;
  margin: 0 auto;
  text-align: center;
  color: #be9066;
  font-size: 0.857rem;
  margin-left: -35px;
}

// foot-pagetop
// box
.foot-pagetop__txt {
  text-align: right;
  display: flex;
  margin-left: 90%;
	padding: 0;
  color: #be9066;
}
.foot-pagetop__txt a{
  color: #be9066;
	writing-mode: vertical-rl;
}


/*スクロールダウン全体の場所*/
.scrolldown1{
  /*描画位置※位置は適宜調整してください*/
  position: absolute;
  /* left: 50%; */
  margin: -4px -14px 70px -14px;
  /* bottom: 10px; */
  height: 100px;
}

/*Scrollテキストの描写*/


/* 線の描写 */
.scrolldown1::after{
content: "";
  /*描画位置*/
position: absolute;
top: 0;
  /*線の形状*/
width: 1px;
height: 30px;
background: #be9066;
  /*線の動き1.4秒かけて動く。永遠にループ*/
animation: pathmove 3s ease-in-out infinite;
opacity:0;
animation-direction: reverse;
}

/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove{
0%{
  height:0;
  top:0;
  opacity: 0;
}
30%{
  height:30px;
  opacity: 1;
}
100%{
  height:0;
  top:50px;
  opacity: 0;
}
}


// 試し

@media screen and (max-width: 751px) {
  .head-sns{
    display: none;
  }
  .header {
    top: 22rem;
  }
  .hamburger {
    display : block;
    position: fixed;
    z-index : 999;
    top: 24px;
    right: 1px;
    width: 73px;
    height: 48px;
    cursor: pointer;
    text-align: center;
    }
    .hamburger span {
      width: 40px;
      height: 2px;
    }
    .hamburger span:nth-child(1) {
    top: 0px;
    }
    .hamburger span:nth-child(2) {
    top: 10px;
    }
    .hamburger span:nth-child(3) {
    top: 20px;
    }
  .hamburger.active {
    right: 42px;
  }

  .swiper-wrapper{
    width: 100%;
  }
.mainVisual{
  display: block;
  .swiper-container01{
    width: 100%;
    height: 50%;
  }
  .swiper-container02{
    width: 100%;
    height: 50%;
  }
}

// intro
.top-intro{
  
}
.side-scroll__section{
 
  .top-intro__block{
    width: 100%;
  }
}

.top-intro__block
}
