@charset "UTF-8";
a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

body {
  font-size: 15px;
}

.c-fontColor_en {
  color: #bc8f8f;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  font-weight: 700;
}

.c-fontColor_jp {
  color: #bc8f8f;
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 0.14em;
  font-weight: 700;
  text-align: center;
}

.logo {
  width: 500px;
}

.en {
  font-size: 1.6rem;
  line-height: 4rem;
  letter-spacing: 0.04em;
}

.jp {
  font-size: 1.7rem;
  line-height: 4.1rem;
  letter-spacing: 0.1em;
  margin-bottom: 40px;
}

.l-header {
  background-color: transparent;
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 999;
}

/*　ハンバーガーボタン　*/
.hamburger {
  display: block;
  position: fixed;
  z-index: 3;
  right: 13px;
  top: 12px;
  width: 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}

.hamburger span {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 6px;
  background: #555;
  transition: 0.3s ease-in-out;
}

.hamburger span:nth-child(1) {
  top: 10px;
}

.hamburger span:nth-child(2) {
  top: 20px;
}

.hamburger span:nth-child(3) {
  top: 30px;
}

/* ナビ開いてる時のボタン */
.hamburger.active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.6s;
  transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  width: 0px;
}

.hamburger.active span:nth-child(1),
.hamburger.active span:nth-child(3) {
  background: #fff;
  transition-delay: 0.3s;
}

.hamburger.active span:nth-child(1) {
  transform: translateY(4px);
}

.hamburger.active span:nth-child(3) {
  transform: translateY(-16px) rotate(90deg);
}

nav.globalMenuSp {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  width: 100%;
  opacity: 0;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}

nav.globalMenuSp ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  transition: 0.4s all;
}

nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
}

nav.globalMenuSp ul li:hover {
  background: #ddd;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #fff;
  padding: 1em 0;
  text-decoration: none;
}

.head-sns_item {
  display: flex;
  width: 5%;
}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  opacity: 100;
}

.mainVisual {
  display: flex;
}

@media screen and (max-width: 678px) {
  .mainVisual {
    display: block;
  }
}
.swiper-container01 {
  width: 100%;
  max-width: 940px;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
}

.swiper-container02 {
  width: 100%;
  max-width: 940px;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
}

@media screen and (max-width: 678px) {
  .swiper-container01 {
    height: 250px;
  }
  .swiper-container02 {
    height: 250px;
  }
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: rgba(45, 20, 8, 0.8);
}

.bgc-01 {
  background-image: url("/Users/mahiro/Portfolio/Portfolio/img/hero/herocat1.jpg");
  background-size: cover;
}

.bgc-02 {
  background-color: #d4f0d9;
}

.bgc-03 {
  background-color: #e8cae2;
}

.bgc-04 {
  background-color: #ebecc6;
}

.bgc-05 {
  background-color: #d4d6f0;
}

.bgc-06 {
  background-color: #e8cfca;
}

.l-footer {
  background-color: #fffff0;
}
.l-footer_pattern {
  width: 100%;
  background: url(/img/pattern.jpg) repeat-x;
}
.l-footer_blockBanner {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
}
.l-footer_blockBannerItem {
  justify-content: space-between;
  margin-right: 10px;
}
.l-footer_copyRightTxt {
  text-align: center;
  color: #bc8f8f;
  margin-top: 5%;
}
.l-footer_sns {
  margin-top: 5%;
}
.l-footer_snsBox {
  display: flex;
  justify-content: center;
}
.l-footer_snsBoxItem {
  margin-right: 20px;
}
.l-footer_snsBoxItemInner {
  margin: 50px;
}
.l-footer_copy {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.flavor_slide .slick-slide {
  width: 600px;
  height: 400px;
  margin: 0 40px;
  position: relative;
  overflow: hidden;
}

.flavor_slide .slick-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.flavor_slide .slick-arrow {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 0;
  position: absolute;
  top: 180px;
  z-index: 1;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
}

.flavor_slide .slick-arrow::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #09000d;
  border-width: 3px 3px 0 0;
  position: absolute;
  top: 24px;
  transform: rotate(45deg);
}

.flavor_slide .slick-next {
  right: 0;
}

.flavor_slide .slick-prev {
  left: 0;
}

.flavor_slide .slick-next::before {
  left: 20px;
}

.flavor_slide .slick-prev::before {
  border-width: 0 0 3px 3px;
  right: 22px;
}

.dots-2 .slick-dots {
  text-align: center;
}

.dots-2 .slick-dots li {
  display: inline-block;
}

.dots-2 .slick-dots button {
  display: block;
  width: 10px;
  height: 10px;
  margin: 6px;
  font-size: 0;
  padding: 0;
  border: 0;
  outline: none;
  cursor: pointer;
  background: #bcbcbc;
  border-radius: 50%;
}

.lineup {
  background-color: antiquewhite;
  padding-top: 116px;
  padding-bottom: 18px;
  position: relative;
  text-align: center;
  margin: 0 auto 95px;
  color: #bc8f8f;
}

.lineup_title {
  text-align: center;
  margin: 0 auto 95px;
}

.lineup_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1210px;
  margin: 0 auto;
  width: 89.3vw;
}

.lineup_item {
  width: 47.1%;
  position: relative;
  margin-bottom: 100px;
}

.lineup_txt {
  font-size: 1.7rem;
  line-height: 38px;
  padding: 0 25px;
  letter-spacing: 0.01em;
}

.lineup_img {
  margin-bottom: 55px;
}

.shop_main {
  justify-content: space-between;
  display: flex;
  margin: 5% 10% 10% 10%;
}

.shop_btn,
a.shop_btn {
  font-size: 1.7rem;
  color: #fff;
  background-color: #f0d489;
}

.shop_btn:hover,
a.shop_btn:hover {
  color: #fff;
  background: #f0d489;
}

a.btn--radius {
  border-radius: 100vh;
  padding: 20px 50px;
}/*# sourceMappingURL=style.css.map */